<section class="container relative p-8 border border-gray-300 rounded-xl shadow-xl">
  <div class="container m-2 flex justify-between">
    <h2 class="text-2xl font-bold mb-5 opacity-60 text-gray-600">Detalle de compra</h2>
    <figure>
      <img class="w-[1.5rem] h-[1.5rem]" src="../assets/icons/shopping_cart.svg" />
    </figure>
  </div>
  <div *ngFor="let order of orders" class="ml-2">
    <div class="order-container flex justify-between gap-x-5 p-7">
      <figure class="purchase-details">
        <img [src]="order.product.image" alt="Producto" class="product-img" />
        <figcaption class="product-info"></figcaption>
      </figure>
      <figcaption class="product-info">
        <h3 class="font-bold mb-3">{{ order.product.name }}</h3>
        <p class="product-quantity">x {{ order.quantityOrder }}</p>
        <div class="flex mt-6 gap-x-3">
          <button
            (click)="subQuantity(order)"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l"
          >
            -
          </button>
          <button
            (click)="addQuantity(order)"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r"
          >
            +
          </button>
        </div>
      </figcaption>
    </div>
  </div>
  <div class="relative flex justify-between mt-auto gap-y-5 p-3">
    <div>
      <div>
        <p class="text-xl font-extrabold total-label">Precio Total:</p>
        <p class="text-lg font-bold total-amount"> {{ cart?.totalPrice | currency }}</p>
      </div>
      <div>
        <p class="text-xl font-extrabold total-label">Descuento:</p>
        <p class="text-lg font-bold total-amount">- {{ cart?.totalDiscount?? 0.0 | currency }}</p>
      </div>
      <div>
        <p class="text-xl font-extrabold total-label">Precio final:</p>
        <p class="text-lg font-bold total-amount"> {{ cart?.totalPrice | currency }}</p>
      </div>
    </div>
    <div class="absolute right-0 bottom-0">
      <app-button (click)="finalizePurchase()" [label]="'completar compra'"></app-button>
    </div>
  </div>
</section>
