<header>
    <div class="flex justify-between items-center px-2 py-2 gap-5">
      <h1 class="hidden sm:hidden md:block text-red-200">Bienvenido</h1>
  
      <div class="flex items-end gap-x-4 w-5/4 mx-auto">
        <app-input [placeholder]="'buscar producto'"></app-input>
        <app-button [color]="'light'" [height]="'2.25rem'" [width]="'6rem'"></app-button>
      </div>
  
      <div class="float-right mt-auto sm:mt-3 flex gap-x-10">
        <div id="lenguage" class="dropdown">
          <span> cerrar sesion</span>
          <ul class="dropdown-content rounded-lg w-full">
                  <li class="dropdown-item rounded">
                    <p>si</p>
                  </li>
                  <li class="dropdown-item rounded">
                    <p>no</p>
                  </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

