header {
    background-color: #333;
    color: #fff;
    font-size: 1.25rem; 
  
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transition-delay: 85s;
    /* display: none; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 1px 10px;
    z-index: var(--z-priority);
    min-width: 45px;
    opacity: 0.75;
    transform: translateX(-50%);
    left: 50%;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 2px 10px;
    cursor: context-menu;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s;
    color: #333;
  }

  .dropdown-item:hover {
    background-color: #0870e7;
    color: whitesmoke;
  }
