section {
  flex-direction: row;
  min-width: 300px;
  max-width: 55vw;
  min-height: 75vh;
  margin: 0 auto 72px;
  margin-top: 5rem;
  opacity: 0;
  background-color: rgb(228, 234, 190);
  animation: aparecer 3s ease forwards;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.order-container {
  border-bottom: 1px solid gray;
  height: 100%;
  margin: 3rem 0rem;
}

.product-img {
    aspect-ratio: 10 / 9;
    object-fit:cover;
  }
