<section  class="container relative p-8 border border-gray-300 rounded-xl shadow-xl">
    <div class="container m-2 flex justify-between">
      <h2 class="text-xl font-bold mb-5 opacity-60">
        Detalle de compra
      </h2>
    <figure>
         <img  class="w-[1.5rem] h-[1.5rem]" src="../assets/icons/shopping_cart.svg" />
    </figure>

      
    </div>
    <div *ngFor="let order of orders" class="ml-2">
        <div class="order-container flex gap-x-5 p-7">
            <figure class="purchase-details">
                <img src="ruta/a/la/imagen.jpg" alt="Producto" class="product-img">
                <figcaption class="product-info">
                  <h5 class="product-name">product.name</h5>
                </figcaption>
              </figure>
              <figcaption class="product-info">
                <h3 class="product-name">product.name</h3>
                <p class="product-quantity">x product.quantity</p>
              </figcaption>
        </div>
    </div>
    <div class="total-price">
        <p class="total-label">Precio Total:</p>
        <p class="total-amount">$ order.total</p>
    </div>

    <div class="absolute bottom-0 right-0 mb-2 mr-2 p-3">
        <app-button [label]="'completar compra'"></app-button>
      </div>
</section>
